@charset'utf-8';

/*ページ全体*/
html {
  transition: transform 0.8s ease-in-out;
}

.main-panel {
  width: 56rem;
  height: 42rem;
  border: 1px solid black;
  background-color: #D9E5FF;
}

h3,
h4,
input {
  margin-left: 1rem;
  margin-right: 1rem;
}

.common-btn {
  margin-top: 1.3rem;
  width: 2.5rem;
  height: 1.5rem;
  cursor: pointer;
}

button:hover {
  opacity: .6;
}

button:active {
  opacity: .3;
}

/*リロード関係*/
.reload-btn {
  margin-top: 1rem;
  width: 3rem;
  height: 2rem;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 0.7rem;
}

.reload-text {
  margin-top: 1.4rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 300ms;
}

.appear {
  opacity: 1;
}

/*各ラベルの表示*/
.ip-address-label,
.viewer-angle-label,
.website-zoom-label,
.iframe-label {
  display: flex;
}

/*IPアドレス*/
#connect-ip-address-btn {
  width: 4rem;
  height: 2rem;
  border: 1px solid;
  cursor: pointer;
  margin-top: 1rem;
}

input {
  height: 2rem;
  margin-top: 0.8rem;
  margin-left: 1rem;
}

/*プリセット*/
.preset-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.viewer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*視点移動*/
.arrow-btn {
  width: 2.1rem;
  height: 1.6rem;
  cursor: pointer;
}

.none {
  border: none;
  background-color: inherit;
  pointer-events: none;
}

/*カメラビューワー*/
iframe {
  width: 30rem;
  height: 18rem;
  margin-left: 1rem;
}

/*ミニボタン*/
.side-btn {
  width: 2rem;
  height: 2rem;
  display: block;
  font-size: 1rem;
  margin-left: 0.5rem;
}