@charset "utf-8";

html {
  touch-action: manipulation;
}

.main-title {
  margin-top: 1.8rem;
  font-size: 36px;
  text-align: center;
}

.producer {
  margin-bottom: 1rem;
  font-size: 18px;
  text-align: center;
}

.switch-on-off-panel {
  font-size: 2rem;
  display: flex;
  margin-bottom: 0.7rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.control-on {
  color: black;
  font-size: 1rem;
  width: 10rem;
  height: 2.5rem;
  background: white;
  border: 1px solid black;
  justify-content: center;
  cursor: pointer;
}

.control-off {
  color: black;
  font-size: 1rem;
  width: 10rem;
  height: 2.5rem;
  background: #BAD3FF;
  border: 1px solid black;
  justify-content: center;
  cursor: pointer;
}

.check-online {
  width: 16px;
  height: 16px;
  background-color: greenyellow;
  border-radius: 50%;
  border: solid 1px black;
}

.online-speed {
  display: flex;
  position: absolute;
  margin-left: 1.8rem;
}

.up-arrow {
  border-radius: 50%;
  border-style: solid;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background: #6fa1ff;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  margin-top: 2rem;
  margin-left: 8rem;
  position: relative;
  outline: none;
}

.right-arrow {
  border-radius: 50%;
  border-style: solid;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background: #6fa1ff;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  margin-top: 1rem;
  outline: none;
}

.left-arrow {
  border-radius: 50%;
  border-style: solid;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background: #6fa1ff;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  margin-top: 1rem;
  margin-left: 0.3rem;
  margin-right: 8.3rem;
  outline: none;
}

.down-arrow {
  border-radius: 50%;
  border-style: solid;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background: #6fa1ff;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  margin-top: 1rem;
  margin-left: 8rem;
  position: relative;
  outline: none;
}

.arrow-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.arrow-button:focus {
  outline: none;
}

.arrow-button:focus-visible {
  outline: none;
}

.arrow-button:active {
  outline: none;
  opacity: 0.2 !important;
}

.stop-switch:active {
  background: red !important;
}

@media screen and (max-width:380px) {
  html {
    touch-action: manipulation;
  }

  .main-title {
    margin-top: 1rem;
    font-size: 36px;
    text-align: center;
  }

  .producer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    text-align: center;
  }

  .check-online {
    width: 16px;
    height: 16px;
    background-color: greenyellow;
    border-radius: 50%;
    border: solid 1px black;
  }

  .online-speed {
    display: flex;
    position: absolute;
    margin-left: 1.8rem;
  }

  .up-arrow {
    border-radius: 50%;
    border-style: solid;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #6fa1ff;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    margin-top: 2rem;
    margin-left: 8rem;
    position: relative;
    outline: none;
  }

  .right-arrow {
    border-radius: 50%;
    border-style: solid;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #6fa1ff;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    outline: none;
  }

  .left-arrow {
    border-radius: 50%;
    border-style: solid;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #6fa1ff;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    margin-left: 0.3rem;
    margin-right: 8.0rem;
    outline: none;
  }

  .down-arrow {
    border-radius: 50%;
    border-style: solid;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #6fa1ff;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    margin-left: 8rem;
    position: relative;
    outline: none;

  }

  .stop-switch {
    width: 200px;
    height: 50px;
    text-align: center;
    position: relative;
    margin-left: 5.2rem;
    margin-top: 3rem;
    background-color: lightpink;
    border: solid 2px black;
  }

  .arrow-button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  .arrow-button:focus {
    outline: none;
  }

  .arrow-button:focus-visible {
    outline: none;
  }

  .arrow-button:active {
    outline: none;
    opacity: 0.2 !important;
  }

  .stop-switch:active {
    background: red !important;
  }
}

@media screen and (max-width:360px) {
  html {
    touch-action: manipulation;
  }

  .main-title {
    margin-top: 1rem;
    font-size: 36px;
    text-align: center;
  }

  .producer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    text-align: center;
  }

  .check-online {
    width: 16px;
    height: 16px;
    background-color: greenyellow;
    border-radius: 50%;
    border: solid 1px black;
  }

  .online-speed {
    display: flex;
    position: absolute;
    margin-left: 1.8rem;
  }

  .up-arrow {
    border-radius: 50%;
    border-style: solid;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #6fa1ff;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    margin-top: 2rem;
    margin-left: 8rem;
    position: relative;
    outline: none;

  }

  .right-arrow {
    border-radius: 50%;
    border-style: solid;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #6fa1ff;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    outline: none;

  }

  .left-arrow {
    border-radius: 50%;
    border-style: solid;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #6fa1ff;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    margin-left: 0.3rem;
    margin-right: 7.0rem;
    outline: none;

  }

  .down-arrow {
    border-radius: 50%;
    border-style: solid;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #6fa1ff;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    margin-left: 8rem;
    position: relative;
    outline: none;

  }

  .stop-switch {
    width: 200px;
    height: 50px;
    text-align: center;
    position: relative;
    margin-left: 5.2rem;
    margin-top: 3rem;
    background-color: lightpink;
    border: solid 2px black;
  }

  .arrow-button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  .arrow-button:focus {
    outline: none;
  }

  .arrow-button:focus-visible {
    outline: none;
  }

  .arrow-button:active {
    outline: none;
    opacity: 0.2 !important;
  }

  .stop-switch:active {
    background: red !important;
  }
}