@charset  "utf-8";

main {
  width: 320px;
  margin: 32px auto 0;
}

h1 {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

h2 {
  font-size: 16px;
  margin-bottom: 4px;
}

li {
  cursor: pointer;
  margin: 4px;
}

.correct {
  color: green;
}

.correct::after {
  content: ' - 正解！';
}

.wrong {
  color: red;
}

.wrong::after {
  content: ' - 不正解...';
}