@charset"utf-8";
main {
  width: 360px;
  margin: 32px auto;
}

section {
  border: 4px double green;
  text-align: center;
  color: green;
}

h1 {
  margin:0;
  border-bottom: 2px solid green;
  font-weight: normal;
  padding: 8px 0;
}

p {
  margin:0;
  font-weight: bold;
  font-size: 36px;
  padding: 24px 0;
}

#result {
  padding: 10px;
  margin: 0;
  font-size:2em;
}

button {
  all: unset;
  width: 100%;
  background: green;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 8px 0;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 0 4px gray;
}

button:hover {
  opacity: .8;
}

button:active {
  transform: translateY(3px);
}
.food-img {
  display: none;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}