@charset "utf-8";

.panel {
  margin-bottom: 0.5em;
  border: 1px solid black;
  padding: 1.2em 1.2em 2.4em;
  background: #F5F5F5;
  width: 7.5in;
  height: 4.1in;
}

.title {
  font-size: 1.8rem;
}

.normal-font{
  font-size:1.2rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  margin-right: 1.6rem;
}

button {
  width: 8rem;
  background: white;
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
  margin-left: 1rem;
}

#lever-length {
  width: 8rem;
  margin-right: 4rem;
}

#slider {
  width: 18rem;
  margin-left: 2.0rem;
}
