@charset "utf-8";

button {
  padding: 0;
}

.panel {
  margin-bottom: 0.5em;
  border: 1px solid black;
  padding: 1.2em 1.2em 2.4em;
  background: #e7eaeb;
  width: 7.5in;
  height: 11.1in;
}

.panel-title {
  margin-bottom: 1.1em;
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.2rem;
}

.panel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.panel-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3.3rem;
}

.panel-container3 {
  display: flex;
}

.text {
  margin-left: 3.4rem;
  margin-bottom: 3.3rem;
}

.control-container {
  margin-top: 1.8em;
  margin-left: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle {
  position: absolute;
  left: 39rem;
  width: 60px;
  height: 60px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle span {
  writing-mode: vertical-rl;
  color: black;
}

.switch-container {
  margin-right: 6%;
  font-size: 1rem;
  display: flex;
}

.switch-container-ON, .switch-container-SP {
  margin-right: 6%;
  font-size: 1rem;
  display: flex;
}

.switch-on,.switch-off,.switch-up,
.switch-down  {
  width: 4.6rem;
  height: 2.3rem;
  margin: 0;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-container {
  font-size: 1rem;
  display: flex;
  margin-left: 3.4rem;
}

.select-1,.select-2,.select-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.3rem;
  height: 2.3rem;
  margin: 0;
  background: white;
  border: 1px solid black;
}

.switch-on.clicked {
  background: red;
}

.switch-off.clicked {
  background: blue;
}

.select-container>.clicked,
.switch-container-SP>.clicked {
  background: yellow;
}

.save-box,.edit-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-settings {
  width: 11rem;
  height: 2.3rem;
  margin-top: 2.0rem;
  background: white;
  border: 1px solid black;
}
 
#settings-panel {
  display: none;
}

.switch-on, .switch-off, .switch-up, .switch-down, .circle, .select-1, .select-2, .select-3, .edit-settings, .groups-select-item {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.group-section {
  display: flex;
  justify-content: space-between;
}
.groups-select-item {
  width: 6.2rem;
  height: 2.3rem;
}