@charset "utf-8";

button {
  padding: 0;
}

.panel {
  margin-bottom: 0.5em;
  border: 1px solid black;
  padding: 1.2em 1.2em 2.4em;
  background: #e7eaeb;
  width: 7.5in;
  height: 11.1in;
}

.panel-title {
  margin-bottom: 1.1em;
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.2rem;
}

.panel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.panel-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3.3rem;
}

.panel-container3 {
  display: flex;
}

.text {
  margin-left: 3.4rem;
  margin-bottom: 3.3rem;
}

.control-container {

  margin-top: 1.8em;
  margin-left: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text2 {
  font-size: 1rem;
  margin-left: 3em;
  word-spacing: 3.1em;
}



.circle {
  position: absolute;
  left: 39rem;
  width: 60px;
  height: 60px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle span {
  writing-mode: vertical-rl;
  color: black;
}

.switch-container {
  margin-right: 6%;
  font-size: 1rem;
  display: flex;
}

.switch-container-ON {
  margin-right: 6%;
  font-size: 1rem;
  display: flex;
}

.switch-container-SP {
  margin-right: 6%;
  font-size: 1rem;
  display: flex;
}

.switch-on,
.switch-off {
  width: 4.6rem;
  height: 2.3rem;
  margin: 0;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-up,
.switch-down {
  width: 4.6rem;
  height: 2.3rem;
  margin: 0;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-on+.switch-off {
  margin-left: 0;
}

.select-container {
  font-size: 1rem;
  display: flex;
  margin-left: 3.4rem;
}

.lever-container {
  font-size: 1rem;
  display: flex;
  margin-left: 10.2rem;
  margin-top: 0.8rem;
  margin-bottom: 1.9rem;
}

.lever-list {
  display: flex;
  margin-left: 10.2rem;
}

.choice {
  margin-left: 1.2rem;
  margin-right: 0.7rem;
  width: 6.2rem;
  height: 2.3rem;
}

.pedal-container {
  font-size: 1rem;
  display: flex;
  margin-left: 10.2rem;
  margin-top: 0.8rem;
  margin-bottom: 1.9rem;
}

.lever-container button {
  margin-right: 1.5rem;
}

.pedal-container button {
  margin-right: 1.3rem;
}

.select-1,
.select-2,
.select-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.3rem;
  height: 2.3rem;
  margin: 0;
  background: white;
  border: 1px solid black;
}

.dropdown-pedal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.8rem;
  height: 2.3rem;
  margin-left: 1.2rem;
  margin-right: 0.5rem;
  background: white;
  border: 1px solid black;
}

.select-1+.select-2+.select-3 {
  margin-left: 0;
}

.switch-on.clicked {
  background: red;
}

.switch-off.clicked {
  background: blue;
}

.select-container>.clicked {
  background: yellow;
}

.switch-container-SP>.clicked {
  background: yellow;
}

.save-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-settings {
  width: 11rem;
  height: 2.3rem;
  margin-top: 1.0rem;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
#settings-panel {
  display: none;
}

.select-3:focus~.panel-container3,
.select-3:focus~.lever-container,
.select-3:focus~.pedal-container,
panel-containerlast {
  display: flex;
}

.edit-settings, .choice {
  cursor: pointer;
}


button:active {
  transform: translateY(1px);
}