@charset'utf-8';

.main-panel{
  width: 48rem;
  height: 32rem;
  border: 1px solid black;
}

h3,h4 {
 margin-left: 1rem;
}

.ip-address-label {
  display: flex;
}
input {
  height: 2rem;
  margin-top: 0.8rem;
  margin-left: 1rem;
}

button {
  width: 4rem;
  height: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

iframe {
  width: 30rem;
  height:18rem;
  margin-left: 1rem;
}